# ---------------------------------------
# Microsoft Office temporary files
# ---------------------------------------

~$*

# ---------------------------------------
# macOS
# ---------------------------------------

.DS_Store

# ---------------------------------------
# Windows
# ---------------------------------------

Thumbs.db
Desktop.ini

# ---------------------------------------
# VS Code
# ---------------------------------------

.vscode/

# ---------------------------------------
# Excel AutoRecover / backup files
# ---------------------------------------

*.xlk
*.temp
*.bak